/* style.css */

h1 {
  text-align:  center;
  font-family: Open Sans Condensed, sans-serif;
  text-transform: uppercase; 
  font-weight: 700;
  font-size: 90px;
}

body {
  padding: 5px;
}

#intro {
font-family: Open Sans, sans-serif;
font-size: large;
font-weight: 300;
}

#other-resources {
  background-color: #dddcdb;
  padding: 10px; 
  margin: 20px;
}

#other-resources li{
font-size: medium;
}

#other-resources h4{
font-size: medium;
text-transform: uppercase;
}

.foodtype-top-box {
  display: flex;
  float: left;
  background-color: ;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

  .foodtype-top-box img {
    width: 100%;
    border-radius: 50%;
  }

  .foodtype-top-box p {
    width: auto;
    font-size: small;
    text-align: justify;
    background-color:;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
  }  

.foodtypes {
    padding: 1%;
    margin: 1%;
    background-color: ;
    align-self: top;
    height: auto;
    flex:1;
    width: auto;
  }

  .foodtypes h3 {
    font-family: Open Sans Condensed, sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
  }

  a {color: inherit; 
    text-decoration: inherit; 
    font-weight: inherit;
  }

   a:hover {
    font-style: italic;
    font-weight: bold;
  }

.pantry img{
    background-color: #2c6cb5;
  }

.kitchen img{
     background-color: #f47b3d; 
  }

.market img{
     background-color: #428f61; 
  }

.grabngo img{
     background-color: #e8d946; 
  }

hr{
  width: 100%;
  color: black;
  border: 1px solid black;
}

.bottom-container {
  justify-content: center;
  float: center;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.bottom {
  background-color: ;
  padding: 1%;
}

h2{
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}

.bottom-foodlists {
  display: flex;
  background-color: ;
}

  .bottom-foodlists img {
      width: 20%;
      justify-content: center;
      border-radius: 50%;
      flex: 1;
      margin: 10px;
    }

    .bottom-foodlists ul {
      background-color: ;
      flex:3;
      margin: 5px;
      display: flex;
    }

    .bottom-foodlists li {
      background: ;
      padding: 2%;
      margin: 3%;
      width: 100%;
      font-family: Open Sans, sans-serif;
      font-weight: 300;
      font-size: medium;
      height: auto;
    }

    .bottom-foodlists h5{
      font-weight:bold;
    }

#footer {
  background-color: #dddcdb;
  font-family: Open Sans, sans-serif;
  padding: 5px; 
  font-size: 10px;
}
  h4 {
    font-family: Open Sans, sans-serif;
  } 
